### Hello World

In [2]:
print("Hello World")
print("Hello World")

Hello World
Hello World

### Variables

In [3]:
a = 10
b = 20
sum = a + b
print(sum)
a+b

30

30

### type

In [37]:
a = 10
print(type(a))
b = "sakshi"
print(type(b))

<class 'int'>
<class 'str'>

### id

In [16]:
a = 10
print(id(a))
a = a+1
print(a)
print(id(a))
a = "sakshi"
print(id(a))
a

2569890562576
11
2569890562608
2569970511856

'sakshi'

In [20]:
#numbers in range -5...256 will have the optimization given below
a = 10
b = 10
print(id(a))
print(id(b))
print()
#other numbers will have the optimization given below
a = 1000
b = 1000
print(id(a))
print(id(b))

2569890562576
2569890562576

2569970163952
2569970165488

### Arithmetic operations

In [23]:
a = 10
b = 4

print(a/b)     #floating point div
print(a//b)    #int div
print(a*b)     #muliplication
print(a**b)    #exponential
print(a%b)     #mod

2.5
2
40
10000
2

### simple interest

In [30]:
p = float(input("enter p: "))
r = int(input("enter r: "))
t = int(input("enter time: "))

si = (p*r*t)/100
print("simple interest: ", si)

enter p: 100
enter r: 4
enter time: 2
simple interest:  8.0

### fah to celcius

In [29]:
f = float(input("enter fah val:" ))
c = (f - 32) * 5/9
print("celcius val: ",c)

enter fah val:100
celcius val:  37.77777777777778

### avg marks

In [32]:
m1 = int(input())
m2 = int(input())
m3 = int(input())
avg = (m1+m2+m3)/3
print("average marks: ", avg)

5
10
5
average marks:  6.666666666666667

### assignment1

In [33]:
#power
x = int(input())
n = int(input())
p = x**n
print(p)

10
3
1000

In [35]:
#AP
n1 = int(input())
n2 = int(input())
n3 = int(input())
d = n3 - n2
print("difference",d)

1
3
5
difference 2

In [36]:
#area of rectangle
l = int(input("enter length: "))
b = int(input("enter breadth: "))
area = l*b
print("area of rec: ", area)

enter length: 10
enter breadth: 20
area of rec:  200