### even-odd

In [3]:
n = int(input())
if n%2==0:
    print(n, "is even")
else:
    print(n, "is odd")

100
100 is even

### largest of 3 no

In [11]:
a = int(input())
b = int(input())
c = int(input())

if a>=b and a>=c:
    print(a, "a is largest")
elif b>=c:
    print(b, "b is largest")
else:
    print(c, "c is largest")

12
13
14
14 c is largest

### pos, neg, zero

In [1]:
n = int(input())
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

0
zero

### first n natural nos

In [4]:
n = int(input())
count = 1
while count <= n:
    print(count)
    count = count + 1

5
1
2
3
4
5

### sum of n numbers

In [13]:
# n = int(input())
# sum = 0
# while n>0:
#     sum += n
#     n = n-1
# print(sum) 

##without loop
n = int(input())
sum = (n*(n+1))//2
print(sum)

20
210

### sum of even nos

In [15]:
n = int(input())
sum = 0
i = 0
while i<=n:
    sum += i
    i= i+2
print(sum)

7
12

### prime nos

In [20]:
n = int(input())
flag = False
d = 2
while d < n:
    if n%d == 0:
        flag = True
        break
    d += 1
    
if flag:
    print(n, "is not prime")
else:
    print(n, "is prime")

7
7 is prime

### prime nos in range

In [1]:
n = int(input())
k = 2
while k <= n:
    flag = False
    d = 2
    while d < k:
        if k%d == 0:
            flag = True
            break
        d += 1
    if not(flag):
        print(k)  
    k = k+1

10
2
3
5
7

### fah to celcius in given range

In [7]:
start = int(input())
end = int(input())
gap = int(input())

currentval = start
while currentval <= end:
    celciusval = (5/9)*(currentval-32)
    print(currentval, "\t", celciusval)
    currentval += gap

20
120
12
20 	 -6.666666666666667
32 	 0.0
44 	 6.666666666666667
56 	 13.333333333333334
68 	 20.0
80 	 26.666666666666668
92 	 33.333333333333336
104 	 40.0
116 	 46.66666666666667

## FOR LOOP

In [1]:
s = "abcd"
for i in s:
    print(i)

a
b
c
d

In [2]:
## print num from 1 to n
n = int(input())
for i in range(1, n+1, 1):    ##range(start, stop, stride)
    print(i)

4
1
2
3
4

In [3]:
n = int(input())
for i in range(n+1):    ## by default it will take start->0, stride(inc)->1 
    print(i)

4
0
1
2
3
4

In [4]:
## print num from n to 1
n = int(input())
for i in range(n, 0, -1):    ##range(start, stop, stride)
    print(i)

4
4
3
2
1

In [5]:
## print num in range
a = int(input())
b = int(input())
for i in range(a, b+1, 1):
    print(i, end=" ")

10
20
10 11 12 13 14 15 16 17 18 19 20

### multiple of 3

In [10]:
a = int(input())
b = int(input())

for i in range(s, b+1, 1):
    if i % 3 == 0:
        print(i)

2
30
3
6
9
12
15
18
21
24
27
30

In [8]:
a = int(input())
b = int(input())

if a % 3 == 0:
    s = a
elif a % 3 == 1:
    s = a+2
else:
    s = a+1
    
for i in range(s, b+1, 3):
    print(i)

2
30
3
6
9
12
15
18
21
24
27
30

### table of any no

In [14]:
n = int(input())
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [17]:
### prime no
n = int(input())
flag = False
for i in range(2, n, 1):
    if n % i == 0:
        flag = True
        break

if flag:
    print("not prime")
else:
    print("prime")

9
not prime

### ELSE WITH BREAK

In [2]:
### we an use else with loops as well. after the condition in loop will be false then else will be executed
n = int(input())
for i in range(1, n):
    print(i)
else:
    print("I am in else part!!")

10
1
2
3
4
5
6
7
8
9
I am in else part!!

In [4]:
### if we loop is terminated due to break then else will not work
n = int(input())
for i in range(1, n):
    if i == 5:
        break
    print(i)
else:
    print("I am in else part!!")

10
1
2
3
4

In [6]:
n = int(input())
d = 2
while d < n:
    if n%d == 0:
        break
    d += 1
else:
    print("prime number!")

7
prime number!

### CONTINUE

In [8]:
n = int(input())
for i in range(2, n+1, 2):
    if i % 7 == 0:
        continue
    print(i)

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

In [9]:
n = int(input())
for i in range(2, n+1, 2):
    print(i)
    if i % 7 == 0:
        continue
    print(i)

100
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20
22
22
24
24
26
26
28
30
30
32
32
34
34
36
36
38
38
40
40
42
44
44
46
46
48
48
50
50
52
52
54
54
56
58
58
60
60
62
62
64
64
66
66
68
68
70
72
72
74
74
76
76
78
78
80
80
82
82
84
86
86
88
88
90
90
92
92
94
94
96
96
98
100
100

In [12]:
n = int(input())
i = 2
while i<=n:
    if i % 7 == 0:
        i += 2
        continue
    print(i)
    i += 2

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

In [18]:
for val in "string":
    if val == "i":
        break
    print(val)
     
print("The end")

s
t
r
The end

## ASSIGNMENT 2

In [37]:
## calculator
n = int(input())

if n>=1 and n<=5:
    a = int(input())
    b = int(input())
    if n == 1:
        print(a + b)
    if n == 2:
        print(a - b)
    if n == 3:
        print(a * b)  
    if n == 4:
        print(a // b) 
    if n == 5:
        print(a % b)   
else:
    print("Invalid Operation!")

3
1
2
2

In [40]:
### rev a no
n = int(input())
temp = n
while temp > 0:
    lastdigit = temp % 10
    print(lastdigit, end="")
    temp = temp//10

123456789
987654321

In [8]:
### palindrome
n = int(input())
temp = n
rev = 0
while temp > 0:
    lastdigit = temp % 10
    rev = rev * 10 + lastdigit
    temp = temp//10
if(n == rev):
    print(n, "is palindrome!")
else:
    print(n, "is not palindrome!")

12244221
12244221 is palindrome!

In [7]:
### sum of even and odd digits
n = int(input())
evensum = 0
oddsum = 0
while n>0:
    last = n % 10
    
    if last%2 == 0:
        evensum += last
    else:
        oddsum += last
    n //= 10
print(evensum, " ", oddsum)

1234
6   4

In [14]:
### fabonicci series
n = int(input())
t1 = 0
t2 = 1
count = 0
while count < n:
    print(t1, end=" ")
    nth = t1 + t2
    ##update the values
    t1 = t2
    t2 = nth
    count += 1

13
0 1 1 2 3 5 8 13 21 34 55 89 144

In [13]:
### fabonicci num
n = int(input())
a = 1
b = 1
for i in range(1, n):
    c = a+b
    a = b
    b = c
print(a)

7
13

In [18]:
### fabonicci series
n = int(input("enter the num: "))
a = int(input("enter 1st num of series: "))
b = int(input("enter 2nd num of series: "))
count = a
while count<=n+1:
    print(a, end=" ")
    nth = a+b
    a=b
    b=nth
    count += 1

enter the num: 13
enter 1st num of series: 2
enter 2nd num of series: 3
2 3 5 8 13 21 34 55 89 144 233 377 610